.topnav {
    text-align: right;
    background: linear-gradient(to left, #0df4c7, #221aeb, #8400d6, #d8a0ef);
    font-family: Text sans-serif;
    font-size: 25px;
    color: #ffffff;
  }

#home {
  background: <img src="/assets/images/pizzaquickgif.gif">
  background-size: cover;
  display: flex;
   align-items: center;
  height: 100vh;
  position: top;
  text-align: right;
}